
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
}

header nav ul {
    list-style: none;
    text-align: center;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

.products {
    margin: 20px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.product-item {
    background-color: #f0f0f0;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.product-item:hover {
    background-color: #e0e0e0;
}


.product-item.selected {
    background-color: lightblue;
    outline: none;
}

.product-item {
    cursor: pointer;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}
